---
const { title } = Astro.props;
---

<button>{ title }</button>

<style lang="scss">
  @use "../styles/colors" as *;
  @use "../styles/mixins" as *;

  button {
    padding: 0.5em 1em;
    border: 1px solid $color-text;
    border-radius: 4px;
    background-color: $color-white;
    color: $color-text;

    transition-property: background-color, color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;

    @include hover {
      background-color: $color-text;
      color: $color-white;
    }
  }
</style>